body{
    background-color: rgb(241, 241, 241);
}

.bodyContent{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 18vh;
    margin-left: 15em;
    padding: 1rem;
    background-color: rgb(241, 241, 241);
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 20px auto;
    row-gap: rem;
    column-gap: 1rem;
    padding: 1rem;;
}

.grid-title{
    font-size: 1.2rem;
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 2rem;

}

.grid-space{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 200px;
    font-size: .9rem;
    margin: 1rem .2rem;
    padding: 1.6rem 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    border-left: 10px solid rgb(243, 206, 73);
}

.grid-space > div:nth-child(2){
    cursor: pointer;
    align-self: end;
    display: flex;
    gap: 1.3rem;
}

.grid-space > div > span{
    font-size: 1.1rem;
    font-weight: bold;
}

/* ~ ~ ~ */
.grid-side{
    display: flex;
    flex-direction: column;
}

.grid-side > div{
    padding: 1rem;
    min-width: 300px;
    flex: 1;

}

.grid-side-content{
    font-size: 1.1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;
}

.grid-side-content > div:nth-child(2){
    height: 100%;
    background-color: white;
    border-radius: 10px;
    font-size: .8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

div > p > span{
    font-size: 1rem;
    font-weight: bold;
}

/* ~ ~ ~ */

.trendingPart{
    margin: 1rem;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.trendingCube{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.trendingPartFlex{
    display: flex;
    gap: 1rem;
}

.trendingPartFlex > p{
    align-content: center;
}

.trendingPartFlex > img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}